body{
    font-family: 'Amiri', serif;
}
.contact--info,
.contact-form,
.classy-nav-container{
    direction: rtl !important;
}

.contact--info,
.contact-form,
.course-content,
.single-blog-area .blog-content,
.breakpoint-on .classynav ul li{
    text-align: right;
}